In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from itertools import combinations
from collections import Counter

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)
data

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,7.1,2015
2,tt2908446,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,6.3,2015
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,7.5,2015
4,tt2820852,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,7.3,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1884,tt0120903,75000000,157299717,X-Men,Patrick Stewart|Hugh Jackman|Ian McKellen|Hall...,Bryan Singer,Evolution Begins,"Two mutants, Rogue and Wolverine, come to a pr...",104,Adventure|Action|Science Fiction,Twentieth Century Fox Film Corporation|Donners...,7/13/2000,6.6,2000
1885,tt0192255,22000000,13555988,The Little Vampire,Richard E. Grant|Jonathan Lipnicki|Jim Carter|...,Uli Edel,"They're not just best friends, they're blood b...","Based on the popular books, the story tells of...",95,Horror|Family|Foreign,New Line Cinema,10/27/2000,6.4,2000
1886,tt0131704,76000000,35134820,The Adventures of Rocky & Bullwinkle,Rene Russo|Jason Alexander|Piper Perabo|Randy ...,Des McAnuff,This summer it's not the same old bull.,Rocky and Bullwinkle have been living off the ...,88,Adventure|Animation|Action|Comedy|Family,Universal Pictures|Capella International|KC Me...,6/30/2000,4.0,2000
1887,tt0162983,40000000,36037909,Hanging Up,Meg Ryan|Diane Keaton|Lisa Kudrow|Walter Matth...,Diane Keaton,Every family has a few hang-ups.,A trio of sisters bond over their ambivalence ...,94,Comedy|Drama,Laurence Mark Productions|Columbia Pictures Co...,2/16/2000,5.2,2000
1888,tt0163676,15000000,5217498,The In Crowd,Susan Ward|Lori Heuring|Matthew Settle|Nathan ...,Mary Lambert,What would you do to get in?,A mentally disturbed young woman takes a job a...,105,Thriller,Warner Bros. Pictures,7/19/2000,5.2,2000

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [4]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...
data['profit'] = data['revenue'] - data['budget']

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [5]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '723. Pirates of the Caribbean: On Stranger Tides (tt1298650)' #+
# если ответили верно, можете добавить комментарий со значком "+"

In [6]:
# тут пишем ваш код для решения данного вопроса:
max_budget = data[data.budget == data.budget.max()]
display(max_budget)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011,641683000

ВАРИАНТ 2

In [7]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [8]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '1157. Gods and Generals (tt0279111)' #+

In [9]:
max_runtime = data[data.runtime == data.runtime.max()]
display(max_runtime)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003,-43076064

# 3. Какой из фильмов самый короткий (в минутах)?

In [10]:
answers['3'] = '768. Winnie the Pooh (tt1449283)' #+

In [11]:
min_runtime = data[data.runtime == data.runtime.min()]
display(min_runtime)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011,-15540000

# 4. Какова средняя длительность фильмов?

In [12]:
answers['4'] = '109.6585494970884' #+

In [13]:
mean_runtime_films = data.runtime.mean()
display(mean_runtime_films)

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [14]:
answers['5'] = '107' #+

In [15]:
median_runtime = data.runtime.median()
display(median_runtime)

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [16]:
# лучше код получения столбца profit вынести в Предобработку что в начале

In [17]:
answers['6'] = '239. Avatar (tt0499549)' #+

In [18]:
max_profit = data[data.profit == data.profit.max()]
display(max_profit)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009,2544505847

# 7. Какой фильм самый убыточный?

In [19]:
answers['7'] = '1245. The Lone Ranger (tt1210819)' #+

In [20]:
min_profit = data[data.profit == data.profit.min()]
display(min_profit)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [21]:
answers['8'] = '1478' #+

In [22]:
success_films = data[data.revenue > data.budget].original_title.count()
display(success_films)

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [23]:
answers['9'] = '599. The Dark Knight (tt0468569)' #+

In [24]:
film_profit_2008 = data[data.release_year == 2008]
film_profit = film_profit_2008[film_profit_2008.profit == film_profit_2008.profit.max()]
display(film_profit)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [25]:
answers['10'] = '1245. The Lone Ranger (tt1210819)' #+

In [26]:
film_period = data[data.release_year.isin([2012, 2013, 2014])]
film_profit_min = film_period[film_period.profit == film_period.profit.min()]
display(film_profit_min)
display(film_period)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
118,tt0816692,165000000,621752480,Interstellar,Matthew McConaughey|Jessica Chastain|Anne Hath...,Christopher Nolan,Mankind was born on Earth. It was never meant ...,Interstellar chronicles the adventures of a gr...,169,Adventure|Drama|Science Fiction,Paramount Pictures|Legendary Pictures|Warner B...,11/5/2014,8.0,2014,456752480
119,tt2015381,170000000,773312399,Guardians of the Galaxy,Chris Pratt|Zoe Saldana|Dave Bautista|Vin Dies...,James Gunn,All heroes start somewhere.,"Light years from Earth, 26 years after being a...",121,Action|Science Fiction|Adventure,Marvel Studios|Moving Picture Company (MPC)|Bu...,7/30/2014,7.9,2014,603312399
120,tt1843866,170000000,714766572,Captain America: The Winter Soldier,Chris Evans|Scarlett Johansson|Sebastian Stan|...,Joe Russo|Anthony Russo,In heroes we trust.,After the cataclysmic events in New York with ...,136,Action|Adventure|Science Fiction,Marvel Studios,3/20/2014,7.6,2014,544766572
121,tt2911666,20000000,78739897,John Wick,Keanu Reeves|Michael Nyqvist|Alfie Allen|Wille...,Chad Stahelski|David Leitch,Don't set him off.,"After the sudden death of his beloved wife, Jo...",101,Action|Thriller,Thunder Road Pictures|Warner Bros.|87Eleven|De...,10/22/2014,7.0,2014,58739897
122,tt1951265,125000000,752100229,The Hunger Games: Mockingjay - Part 1,Jennifer Lawrence|Josh Hutcherson|Liam Hemswor...,Francis Lawrence,Fire burns brighter in the darkness,Katniss Everdeen reluctantly becomes the symbo...,123,Science Fiction|Adventure|Thriller,Lionsgate|Color Force,11/18/2014,6.6,2014,627100229
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1307,tt2431286,12000000,100129872,Philomena,Judi Dench|Steve Coogan|Sophie Kennedy Clark|M...,Stephen Frears,These two unlikely companions are on a journey...,"A woman searches for her adult son, who was ta...",98,Drama,BBC Films|The Weinstein Company|Baby Cow Produ...,11/1/2013,7.4,2013,88129872
1308,tt1758595,15000000,21766271,Diana,Naomi Watts|Naveen Andrews|Charles Edwards|Dou...,Oliver Hirschbiegel,The legend is never the whole story,"During the last two years of her life, Princes...",113,Drama|Romance,Ecosse Films|Le Pacte|Scope Pictures|Film i VÃ...,9/19/2013,5.0,2013,6766271
1309,tt2167202,18000000,10501938,Getaway,Ethan Hawke|Selena Gomez|Jon Voight|Paul Freem...,Courtney Solomon,Get in. Get out. Getaway.,Former race car driver Brent Magna (Hawke) is ...,90,Action|Crime,Dark Castle Entertainment|Signature Pictures|A...,8/29/2013,5.0,2013,-7498062
1310,tt2234155,58000000,44000000,The Internship,Owen Wilson|Vince Vaughn|Tiya Sircar|Rose Byrn...,Shawn Levy,Hiring them was a brilliant mistake.,Two recently laid-off men in their 40s try to ...,119,Comedy,Twentieth Century Fox Film Corporation|Regency...,6/7/2013,6.1,2013,-14000000
1311,tt1966566,30000000,68129518,Ð¡Ñ‚Ð°Ð»Ð¸Ð½Ð³Ñ€Ð°Ð´,Thomas Kretschmann|Yanina Studilina|Philippe R...,Fyodor Bondarchuk,The Epic Battle That Turned The Tide Of World ...,"Drama set in 1942, during one of the most impo...",131,War|Action,Art Pictures Studio,10/9/2013,5.5,2013,38129518

In [27]:
film_profit = data[(data.release_year == 2008)&(data.profit == data.profit.max())]
display(film_profit)

Empty DataFrame
Columns: [imdb_id, budget, revenue, original_title, cast, director, tagline, overview, runtime, genres, production_companies, release_date, vote_average, release_year, profit]
Index: []

# 11. Какого жанра фильмов больше всего?

In [28]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

In [29]:
answers['11'] = 'Drama, 782' #+

In [30]:
genre_max = Counter(data.genres.str.split('|').sum()).most_common()
display(genre_max)

[('Drama', 782),
 ('Comedy', 683),
 ('Thriller', 596),
 ('Action', 582),
 ('Adventure', 415),
 ('Crime', 315),
 ('Romance', 308),
 ('Family', 260),
 ('Science Fiction', 248),
 ('Fantasy', 222),
 ('Horror', 176),
 ('Mystery', 168),
 ('Animation', 139),
 ('Music', 64),
 ('History', 62),
 ('War', 58),
 ('Western', 19),
 ('Documentary', 8),
 ('Foreign', 2)]

ВАРИАНТ 2

In [31]:
genres_split = data.genres.str.split('|')
data['genres_split'] = genres_split
genre_popular = Counter(data.genres_split.sum()).most_common(1)
display(genre_popular)

[('Drama', 782)]

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [32]:
answers['12'] = 'Drama, 560' #+

In [33]:
genres_profit = Counter(data[data.profit > 0].genres_split.sum()).most_common(1)
display(genres_profit)

[('Drama', 560)]

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [34]:
answers['13'] = 'Peter Jackson' #+

In [35]:
data1 = data.copy()
data1.director.str.split('|')
director_sum_profit = data1.groupby(['director'])[['revenue']].sum().sort_values(by = 'revenue', ascending=False)
display(director_sum_profit)

                      revenue
director
Peter Jackson      6490593685
Christopher Nolan  4167548502
David Yates        4154295625
Michael Bay        3886938960
J.J. Abrams        3579169916
...                       ...
David MichÃ´d         2295423
Steven Shainberg      2281089
Paul Schrader         2062066
Keanu Reeves          2054941
Simon Hunter          2033165

[957 rows x 1 columns]

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [36]:
answers['14'] = 'Robert Rodriguez' #+

In [37]:
data2 = data.copy()
data2.genres.str.split('|')
action_movies = data2[data2.genres.str.contains('Action')].director.str.split('|').explode('director').mode()
display(action_movies)

0    Robert Rodriguez
dtype: object

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [38]:
answers['15'] = 'Chris Hemsworth' #+

In [68]:
year_2012 = data[data.release_year == 2012].copy()
year_2012['cast'] = year_2012.cast.str.split('|')
year_2012 = year_2012.explode('cast')
actor_max_revenue = year_2012.groupby(['cast'])[['revenue']].sum().sort_values(by = 'revenue', ascending=False)
display(actor_max_revenue)

                      revenue
cast
Chris Hemsworth    2027450773
Denis Leary        1629460639
Anne Hathaway      1522851057
Robert Downey Jr.  1519557910
Mark Ruffalo       1519557910
...                       ...
Michael Nyqvist       3428048
Danny Huston          2106557
Josh Lucas            2106557
Sami Gayle            2106557
Nicolas Cage          2106557

[466 rows x 1 columns]

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [40]:
answers['16'] = 'Matt Damon' #+

In [67]:
actor_top = data.copy()
actor_top['cast'] = actor_top.cast.str.split('|')
actor_top = actor_top.explode('cast')
max_budget_films = actor_top[actor_top.budget > actor_top.budget.mean()].cast.value_counts()
display(max_budget_films)

Matt Damon           18
Adam Sandler         17
Angelina Jolie       16
Tom Cruise           15
Samuel L. Jackson    15
                     ..
Denis O'Hare          1
Eva Longoria          1
Taron Egerton         1
Alison Brie           1
Omar Sharif           1
Name: cast, Length: 1505, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [42]:
answers['17'] = 'Action, 17' #+

In [43]:
data4 = data.copy()
data4['genres'] = data4.genres.str.split('|')
data4['cast'] = data4.cast.str.split('|')
data4 = data4.explode('genres')
data4 = data4.explode('cast')
nicolas_films = data4[data4.cast == 'Nicolas Cage'].genres.value_counts()
display(nicolas_films)

Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Family              3
Animation           3
Mystery             3
History             2
Romance             1
War                 1
Horror              1
Name: genres, dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [44]:
answers['18'] = '925. K-19: The Widowmaker (tt0267626)' #+

In [45]:
data5 = data.copy()
data5['production_companies'] = data5.production_companies.str.split('|').copy()
data5 = data5.explode('production_companies')
company_paramount = data5[data5.production_companies == 'Paramount Pictures']
loss_film = company_paramount[company_paramount.profit == company_paramount.profit.min()].head(1)
display(loss_film)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,genres_split
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures,7/19/2002,6.0,2002,-64831034,"[Thriller, Drama, History]"

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [46]:
answers['19'] = '2015 - 25449202382' #+

In [47]:
success_year = data.groupby(['release_year'])[['revenue']].sum().sort_values(by = 'revenue', ascending=False).head(3)
display(success_year)

                  revenue
release_year
2015          25449202382
2014          23405862953
2013          23213799791

# 20. Какой самый прибыльный год для студии Warner Bros?

In [48]:
answers['20'] = '2014 - 406645819' #+

In [49]:
data6 = data.copy()
data6['production_companies'] = data6.production_companies.str.split('|').copy()
data6 = data6.explode('production_companies')
company_warner = data6[data6.production_companies.str.contains('Warner Bros. ', na = False)]
success_year_warner = company_warner.groupby(['release_year']
                                            )[['profit']].sum().sort_values(by = 'profit', ascending=False).head(3)
display(success_year_warner)

                 profit
release_year
2014          406645819
2010          121584141
2007           34307224

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [50]:
answers['21'] = 'Сентябрь - 227'

In [51]:
data_month = data.copy()
data_month['release_date'] = pd.to_datetime(data_month['release_date'])
result_date = data_month.release_date.dt.month.value_counts()
display(result_date)

9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: release_date, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [53]:
answers['22'] = '450'

In [54]:
data_summer = data.copy()
data_summer['release_date'] = pd.to_datetime(data_summer['release_date'])
summer_month = data_summer[data_summer.release_date.dt.month.isin([6, 7, 8])]
summer_films = summer_month.release_date.dt.month.value_counts().sum()
display(summer_films)

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [55]:
answers['23'] = 'Peter Jackson - 7'

In [56]:
data_winter = data.copy()
data_winter['release_date'] = pd.to_datetime(data_winter['release_date'])
winter_month = data_winter[data_winter.release_date.dt.month.isin([1, 2, 12])]
director_winter = winter_month.director.str.split('|').explode('director').value_counts().head(5)
display(director_winter)

Peter Jackson        7
Clint Eastwood       6
Steven Soderbergh    6
Nancy Meyers         4
Adam Shankman        4
Name: director, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [57]:
answers['24'] = 'Four By Two Productions - 83.0'

In [58]:
data_company = data.copy()
data_company['production_companies'] = data_company.production_companies.str.split('|').copy()
data_company = data_company.explode('production_companies')
data_company['length'] = data_company['original_title'].map(lambda x: len(x))
length_max = data_company.groupby(['production_companies']
                                 )['length'].agg(['mean']).sort_values('mean', ascending=False)
display(length_max)

                            mean
production_companies
Four By Two Productions     83.0
Jim Henson Company, The     59.0
Dos Corazones               47.0
Polsky Films                46.0
Museum Canada Productions   46.0
...                          ...
Everest Entertainment        3.0
Berlanti Productions         3.0
Global Entertainment Group   2.0
XM2 Productions              2.0
Ixtlan Productions           2.0

[1771 rows x 1 columns]

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [59]:
answers['25'] = 'Midnight Picture Show - 175.0'

In [60]:
data_length = data.copy()
data_length['production_companies'] = data_length.production_companies.str.split('|')
data_length = data_length.explode('production_companies')
data_length['length_overview'] = data_length.overview.map(lambda x: len(str(x).split(' ')))                                                                                 
length_overview = data_length.groupby(['production_companies']
                                     )['length_overview'].agg(['mean']).sort_values('mean', ascending=False)
display(length_overview)

                                        mean
production_companies
Midnight Picture Show                  175.0
Heineken Branded Entertainment         161.0
Room 9 Entertainment                   161.0
98 MPH Productions                     159.0
Brookwell-McNamara Entertainment       156.0
...                                      ...
Henceforth                              13.0
Our Stories Films                       13.0
London Boulevard                        13.0
Motion Picture Corporation of America   11.0
Empire Pictures                         11.0

[1771 rows x 1 columns]

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [61]:
answers['26'] = '599. The Dark Knight, 9. Inside Out, 1191. 12 Years a Slave'

In [62]:
data_rating = data.copy()
border = np.quantile(data_rating.vote_average, 0.99)
top_films = data_rating[data_rating.vote_average >= border
                       ].sort_values(by='vote_average', ascending=False)['original_title']
display(top_films)

599                                       The Dark Knight
9                                              Inside Out
34                                                   Room
118                                          Interstellar
125                                    The Imitation Game
370                                             Inception
1191                                     12 Years a Slave
1183                              The Wolf of Wall Street
1081        The Lord of the Rings: The Return of the King
872                                           The Pianist
1800                                              Memento
119                               Guardians of the Galaxy
138                              The Grand Budapest Hotel
128                                             Gone Girl
283                                            Mr. Nobody
1688                                  There Will Be Blood
1563                Eternal Sunshine of the Spotless Mind
1444                                         The Prestige
1213                                   Dallas Buyers Club
1205                                            Prisoners
124                                            Big Hero 6
1188                                                  Her
316                                              3 Idiots
863                 The Lord of the Rings: The Two Towers
155                              The Theory of Everything
28                                              Spotlight
177                                The Fault in Our Stars
496     The Lord of the Rings: The Fellowship of the Ring
Name: original_title, dtype: object

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

In [63]:
answers['27'] = 'Daniel Radcliffe, Rupert Grint'

In [64]:
data_actors = data.copy()
data_actors.cast.str.split('|').apply(lambda x: list(combinations(x, 2))).explode('cast').value_counts()[:3]

(Daniel Radcliffe, Emma Watson)     8
(Daniel Radcliffe, Rupert Grint)    8
(Rupert Grint, Emma Watson)         7
Name: cast, dtype: int64

# Submission

In [65]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '723. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '1157. Gods and Generals (tt0279111)',
 '3': '768. Winnie the Pooh (tt1449283)',
 '4': '109.6585494970884',
 '5': '107',
 '6': '239. Avatar (tt0499549)',
 '7': '1245. The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': '599. The Dark Knight (tt0468569)',
 '10': '1245. The Lone Ranger (tt1210819)',
 '11': 'Drama, 782',
 '12': 'Drama, 560',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action, 17',
 '18': '925. K-19: The Widowmaker (tt0267626)',
 '19': '2015 - 25449202382',
 '20': '2014 - 406645819',
 '21': 'Сентябрь - 227',
 '22': '450',
 '23': 'Peter Jackson - 7',
 '24': 'Four By Two Productions - 83.0',
 '25': 'Midnight Picture Show - 175.0',
 '26': '599. The Dark Knight, 9. Inside Out, 1191. 12 Years a Slave',
 '27': 'Daniel Radcliffe, Rupert Grint'}

In [66]:
# и убедиться что ничего не пропустил)
len(answers)

27